{% extends "base.twig" %}


{% block main %}
<h1> Bienvenue sur mon site !</h1>
<p class="text-bienvenue"> Choisissez ce que vous désirez faire, en cliquant sur les catégories dans le menu de navigation ! </p>

<img class="accueil-image" src="./images/accueil.jpeg">

{% endblock %} 